.cart-item {
  font-family: "Playfair";
  display: flex;
  align-items: center;
  justify-content: center;
  width: 75vw;
  height: 20vh;
  overflow-x: hidden;

  .item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80vw;
    height: 20vh;

    .item-image {
      width: 8vw;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        height: auto;
        max-width: 6.5vw;
      }
    }

    .name-and-link {
      font-size: 30px;
      text-align: left;
      padding-left: 8%;
      width: 35vw;
    }

    .price {
      font-size: 30px;
      text-align: right;
      padding-right: 5%;
      width: 10vw;
    }

    .btn-wrapper {
      display: flex;

      button {
        width: 4vw;
        height: 4vh;
        font-size: 24px;
        text-align: center;
        color: $white;
      }

      .item-quantity {
        height: 4vh;
        width: 4vw;
        font-size: 24px;
        text-align: center;
      }
    }
  }

  .remove-from-cart {
    margin-left: 5%;

    .remove-btn {
      height: 4vh;
      width: 4vw;
      font-size: 18px;
    }
  }
}
