.navbar-cont {
  font-family: "Playfair";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
  height: 15vh;
  width: 90vw;
  background-color: $aqua;

  .logo {
    img {
      height: 30vh;
      width: auto;
    }
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    width: 50vw;

    button {
      font-family: "Playfair";
      font-size: 15px;
      background-color: $teal;
      width: 9vw;
      padding: 1% 2%;
      border: 1px solid $darkgrey;
      border-radius: 5px;

      a {
        text-decoration: none;
        color: $white;

        &:visited {
          text-decoration: none;
        }
      }
      &:hover {
        border-radius: 15px;
        color: $white;
        background-color: $mediumteal;
      }
    }
  }
}
