.card-cont {
  font-family: "Playfair";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vw;
  height: 45vh;
  margin: 2%;
  border: 1px solid $darkgrey;
  border-radius: 5px;
  background-color: $white;

  .name-and-link {
    font-size: 24px;
    padding-bottom: 5%;
    font-weight: bold;
  }

  img {
    width: auto;
    height: 20vh;
  }

  .description {
    padding: 2%;
  }

  .price {
    padding: 2%;
    font-size: 20px;
    font-weight: bold;
  }
  .action-btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;

    .more-info-btn {
      margin: 0 5%;
      width: 7vw;
    }

    .add-cart-btn {
      margin: 0 5%;
      width: 7vw;
    }
  }
}
