.products-cont {
  font-family: "Playfair";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  width: auto;
  height: 100%;
  margin-top: 15vh;
  padding-top: 2%;
  padding-bottom: 15vh;

  .search-cont {
    display: flex;
    flex-direction: row;

    .search {
      width: 30vw;
      height: 4vh;
      font-family: "Playfair";
      color: $black;
      padding-left: 5%;
      margin: 1%;
      border: 1px solid $darkgrey;
      border-radius: 5px;
      background: url("../images/magnifying-glass-solid.svg") 10px center
        no-repeat;
      background-color: $white;
      background-size: 16px;
      text-transform: none;
    }

    .filter-select {
      width: 15vw;
      height: 4.5vh;
      font-family: "Playfair";
      margin: 1%;
      border: 1px solid $darkgrey;
      border-radius: 5px;
    }
  }

  .search-results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1%;
    height: 100%;

    .search-heading {
      font-size: 20px;
      font-weight: bold;
      text-align: center;
    }

    .results {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      height: 100%;
      justify-content: space-evenly;
      margin: 2% 0 5% 0;
      width: 90vw;
    }
  }

  .product-card-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    margin: 1% 5%;
  }
}
