button {
  font-family: "Playfair";
  font-size: 15px;
  background-color: $teal;
  width: 9vw;
  padding: 1% 2%;
  border: 1px solid $darkgrey;
  border-radius: 5px;
  color: $white;

  a {
    text-decoration: none;
    color: $white;

    &:visited {
      text-decoration: none;
    }
  }
  &:hover {
    border-radius: 15px;
    color: $white;
    background-color: $mediumteal;
  }
}
